 #main{
    float:left;
    margin-top: 20px;
}

aside{
    float:left;
    margin-top: 20px;
}

#courses{
    float: left;
    width:90%;
}

.course,.forum{
    width:90%;
    margin-bottom: 10px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color:#646464;
    overflow: hidden;
    transition: 1s;
}

.course:hover{
    background-color: rgb(202, 202, 202);
}

.course:hover>img{
    transform: scale(1.1);
}

.course>img{
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    width: 35%;
    float: left;
    margin-right:10px;
    transition: 1s;

}

.course>span{
    float: right;
    font-weight: bold;
    color:rgb(0, 0, 0);
      
}

.course>a>.btn{
    float:left;
    margin-left: 30%;
}

#one_course{
    float:left;
    margin-top: 10px;
    overflow: hidden;
    transition: 1s;

}

#one_course>img:hover{

    transform: scale(1.1);

}

#one_course>img{
    width: 80%;
    float:left;
    transition: 1s;
    overflow: hidden;
}

#news{
    float: left;
}

.heading{
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #000000;
    float:left;
    color: #b6b6b6;
    padding: 0px 5px;
    
}

.heading:first-letter{

    color: #000000;
}


.article{
    width: 40%;
    float:left;
    margin-right: 10%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 350px;
    border-radius: 5px;
    overflow: hidden;
    transition: 1s;
}

.article:hover{
    background-color: rgb(202, 202, 202);

}
.article:hover>img{
    transform: scale(1.2);
}

.article>img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100px;
    transition: 1s;
}

.article>span{
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    width:80%;
    margin: 7px 10%;
    float: left;
    text-align: center;
    color:#333;
}

#news>a>#btn{
    margin-bottom: 20px;
    float: left;
    margin-left: 30%;
}

@media (min-width: 1043px) {
    #main{
        width:  60%;
        margin-left: 3%;
    }
    
    aside{
        width:  30%;
        margin-left: 2%;
    }
    
    #news{
        margin-left: 10%;
        width: 90%;
    }
}

@media (max-width: 1044px) and (min-width: 910px) {
    #main{
        width:  65%;
        margin-left: 2%;
    }
    
    aside{
        width:  32%;
    }
    
    #news{
        margin-left: 4%;
        width: 96%;
    }
}

@media (max-width: 910px) and (min-width: 500px) {
    #main{
        width:  90%;
        margin-left: 5%;
    }
    
    aside{
        width:  50%;
        margin-left: 25%;
    }
    
    #news{
        margin-left: 4%;
        width: 96%;
    }
}
@media (max-width: 499px) {
    #main{
        width:  90%;
        margin-left: 5%;
    }
    
    aside{
        width:  80%;
        margin-left: 10%;
    }
    
    #news{
        margin-left: 4%;
        width: 96%;
    }
}

@media (min-width: 1220px) {
    .article{
        width: 40%;
        margin-right: 10%;
    }
}

@media (max-width: 1119px) and (min-width: 911px) {
    .article{
        width: 46%;
        margin-right: 5%;
    }
}

@media (max-width: 910px) and (min-width: 650px) {
    .article{
        width: 45%;
        margin-right: 5%;
    }
}

@media (max-width: 650px) and (min-width: 500px) {
    .article{
        width: 70%;
        margin-right: 15%;
    }
}

@media (max-width: 499px) {
    .article{
        width: 90%;
        margin-right: 5%;
    }
}

@media (max-width: 600px) {
    #courses>a>.btn{
        margin-left: 5% !important;
    }
}

@media (max-width: 600px) {
    #main>a>.btn{
        margin-left: 5% !important;
    }
}

/*Нижняя часть сайта*/

#vk_groups{
    margin-left: 9%;
}

#lesson{
    width: 98%;
    border-top: 2px solid #d1d1d1;
    position:relative;
    padding: 1%;
    background-color: #ffffff;
    text-align: center;
    min-height: 100px;
}

#lesson>span{
    font-size: 2em;
    color:#434343;
    font-family: 'Lato', sans-serif;
}

#lesson>a>#btn{
    position: absolute;
    margin:0;
    top:80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-80%);
    font-size: 2em;
}

@media (max-width:600px){
    #lesson>span{
        font-size: 1.5em;
    }
}