@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,html {
    width: 100%;
    height: 100%;
}

body{
    background-color: #f6f6f6;
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: all.6s ease;

}

a:hover{
    color: rgb(180, 180, 180);
    text-decoration: none;
    transition: all.6s ease;
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em;
    padding: 0;
}

header{
    float: left;
    background-color: #343434;
    width: 99.4%;
    padding: 0.3%;
    border-bottom: 5px solid #59595a;
    font-family: 'Lato', sans-serif;
}

header>div#logo>a>img{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 15%;
}

header>div#logo>a{
    color: white;
}

header>div#logo>a>span{
    font-size: 2.5em;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
}

@media(min-width: 1035px){

    header>div#logo>a>img{
        margin-left: 15%;
    }

    #logo{
        float: left;
        width: 30%;
    }

    #about{
        float: left;
        width: 37%;
    }

    #reg_auth {
        float: right;
        width: 30%;
    }
}
@media(max-width: 1048px) and (min-width: 625px){

    header>div#logo>a>img{
        margin-left: 15%;
    }

    #logo{
        float: left;
        width: 50%;
    }

    #about{
        visibility: hidden;
        display: none;
    }

    #reg_auth {
        float: right;
        width: 50%;
    }

}

@media(max-width: 636px){

    header>div#logo>a>img{
        margin-left: 5%;
    }

    #logo{
        width: 100%;
    }

    #about{
        visibility: hidden;
        display: none;
    }

    #reg_auth {
        visibility: hidden;
        display: none;
    }

}

#about{
    float: left;
    width: 30%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    padding-top: 10px;
}

#about>a{
    color: white;

}

#about>a:hover{
    color:#dfdfdf;
    border-bottom: 1px solid silver;
}

#about>a:last-child{
    margin-left: 10%;
}

#btn:hover {
    border-bottom: 2px solid rgb(200, 200, 200);
    margin-top: 7px;
}

#btn:active {
    border-bottom: 0;
    margin-top: 9px;
}

#btn {
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: rgb(221, 221, 221);
    text-shadow: #000000 0 0 2px;
    border-bottom: 4px solid rgb(221, 221, 221);
    font-family: 'Lato', sans-serif;
    color: black;
}

nav {
    background-color: white;
    width: 99.4%;
    padding: 0.3%;
    float: left;
    border-bottom: 2px solid rgb(167, 167, 167);
}

nav a{
    color: #343434;
    font-size: 1.5em;
    margin-left: 5%;
}

nav a:hover{
    color: #adadad;
}

nav a:last-child{
    margin-right: 15px;
}

.fixed{
     position: fixed;
     top:0;
     opacity:0.97;
     padding: 4px 0.3%;
}

.fixed a{
    font-size: 1.3em;
}

.fixed #search{
    font-size: 1.2em;
}

nav:hover .fixed{
    opacity:1;
}

#hideMenu{
    display: inline;
}

#menuShow{
    display: inline;
    font-size: 1.4em;
    margin-left: 20px;
    float: left;
    margin-top: 4px;
    cursor: pointer;
}

#mobileMenu{
    display: none;
    width: 100%;
    float: left;
}

@media (min-width: 766px){
    #menuShow{
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 765px){
    #hideMenu{
        display: none;
        visibility: hidden;
    }
}

#search{
    float: right;
    color: #7d7d7d;
    cursor:pointer;
    font-size: 1.4em;
    margin-right: 10px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content{
    flex: 1 0 auto;
}

footer{
    float: left;
    background-color: #343434;
    width: 98%;
    padding: 1%;
    border-top: 5px solid #59595a;
    font-family: 'Lato', sans-serif;

}

#site_name{
    margin-right: 5%;
    color: #f4f4f4;
    font-size: 1.5em;
    float: right;
}

#site_name>span{
    font-family: 'Lato', sans-serif;
}

@media (max-width:1080px){
    #clear{
        clear: both;
    }
}

#footer_menu{
    color: #f4f4f4;
    font-size:  1.2em;

}

#footer_menu>a{
    margin-left: 2%;
    color:  #f4f4f4;
    
}
#footer_menu>a:hover{
    color: #aeaeae;
    border-bottom:  1px solid silver;
}

#right{
    float: left;
    margin-left: 5%;
    font-size: 1.1em;
    margin-top: 20px;
}

#right>a{
    color:white;
}

#social{
    float:right;
    width:40%;
    margin-right:5%;
    margin-top:10px;
}

#social>a{
    border-radius: 50%;
    background-color: #343434;
    margin-left: 2%;
    width: 30px;
    height: 30px;
    float: right;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
}

#social>a:hover{
    background-color: #696969;
}

@media (max-width:1089px) {
    #site_name{
        display: none;
    }

    #social{
        width: 100%;
    }
    #right{
        display: none;
    }
}

.block{
    background-color: #fafafa;
    width: 60%;
    padding: 3%;
    border-radius: 10px;
    border:1px solid silver;
    font-size: 1.1em;
    color:snow;
    float: left;
}

.forum{
    background-color: #fafafa;
    width: 70%;
    padding: 5%;
    border-radius: 10px;
    border:1px solid silver;
    font-size: 1.1em;
    color:snow;
    float: left;
    font-style:italic;
    
}

.forum>a{
    color:silver;
}
